{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="{% static 'css/styles.css' %}" rel="stylesheet">
		<title>Zendesk Ticket Viewer</title>
	</head>
	<body>
		<header class="text-gray-400 bg-gray-900 body-font">
			<div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
				<a href="/?page=1" class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
					<svg xmlns="https://upload.wikimedia.org/wikipedia/commons/c/c8/Zendesk_logo.svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
						<path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
					</svg>
					<span class="ml-3 text-xl">
				<a href="/">Zendesk Coding Challenge</a></span>
				</a>
				<nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
				</nav>
			</div>
		</header>
		<section class="text-gray-600 body-font">
			{% if error %}
			<p> {{ error_message }} </p>
			{% else %}
			<div class="container px-5 py-24 mx-auto">
				<div class="text-center mb-20">
					<h1 class="sm:text-3xl text-2xl font-medium text-center title-font text-gray-900 mb-4">Subject -> <b>{% if ticket.subject is not None %}{{ ticket.subject }}{% else %}-{% endif %}</b></h1>
					<p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto">Description -> <b>{% if ticket.description is not None %}{{ ticket.description }}{% else %}-{% endif %}</b></p>
				</div>
				<div class="flex flex-wrap lg:w-4/5 sm:mx-auto sm:mb-2 -mx-2">
					<div class="p-2 sm:w-1/2 w-full">
						<div class="bg-gray-100 rounded flex p-4 h-full items-center">
							<svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
								<path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
								<path d="M22 4L12 14.01l-3-3"></path>
							</svg>
							<span class="title-font font-medium">Priority -> <b>{% if ticket.priority %}{{ ticket.priority }}{% else %}-{% endif %}</b></span>
						</div>
					</div>
					<div class="p-2 sm:w-1/2 w-full">
						<div class="bg-gray-100 rounded flex p-4 h-full items-center">
							<svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
								<path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
								<path d="M22 4L12 14.01l-3-3"></path>
							</svg>
							<span class="title-font font-medium">Type -> <b>{% if ticket.type %}{{ ticket.type }}{% else %}-{% endif %}</b></span>
						</div>
					</div>
					<div class="p-2 sm:w-1/2 w-full">
						<div class="bg-gray-100 rounded flex p-4 h-full items-center">
							<svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
								<path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
								<path d="M22 4L12 14.01l-3-3"></path>
							</svg>
							<span class="title-font font-medium">Created At -> <b>{{ ticket.created_at }}</b></span>
						</div>
					</div>
					<div class="p-2 sm:w-1/2 w-full">
						<div class="bg-gray-100 rounded flex p-4 h-full items-center">
							<svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
								<path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
								<path d="M22 4L12 14.01l-3-3"></path>
							</svg>
							<span class="title-font font-medium">Updated At -> <b>{{ ticket.created_at }}</b></span>
						</div>
					</div>
					<div class="p-2 sm:w-1/2 w-full">
						<div class="bg-gray-100 rounded flex p-4 h-full items-center">
							<svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
								<path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
								<path d="M22 4L12 14.01l-3-3"></path>
							</svg>
							<span class="title-font font-medium">Group Name -> <b>{% if ticket.group_name is not None %}{{ ticket.group_name }}{% else %}-{% endif %}</b></span>
						</div>
					</div>
					<div class="p-2 sm:w-1/2 w-full">
						<div class="bg-gray-100 rounded flex p-4 h-full items-center">
							<svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
								<path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
								<path d="M22 4L12 14.01l-3-3"></path>
							</svg>
							<span class="title-font font-medium">Requester Name -> <b>{% if ticket.requester_name is not None %}{{ ticket.requester_name }}{% else %}-{% endif %}</b></span>
						</div>
					</div>
					<div class="p-2 sm:w-1/2 w-full">
						<div class="bg-gray-100 rounded flex p-4 h-full items-center">
							<svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
								<path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
								<path d="M22 4L12 14.01l-3-3"></path>
							</svg>
							<span class="title-font font-medium">Tags -> <b>{% if ticket.tags is not None %}{{ ticket.tags }}{% else %}-{% endif %}</b></span>
						</div>
					</div>
					<div class="p-2 sm:w-1/2 w-full">
						<div class="bg-gray-100 rounded flex p-4 h-full items-center">
							<svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
								<path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
								<path d="M22 4L12 14.01l-3-3"></path>
							</svg>
							<span class="title-font font-medium">Status -> <b>{% if ticket.status is not None %}{{ ticket.status }}{% else %}-{% endif %}</b></span>
						</div>
					</div>
				</div>
			</div>
			{% endif %}
		</section>
	</body>
</html>